@model MusicCatalog.Application.ViewModels.Track.ListTrackForListVm

@{
    ViewData["Title"] = "Tracks Page";
}

<h1>@TempData.Peek("AlbumTitle") - @TempData.Peek("artist")</h1>
<p>
    <a asp-action="AddTrack">Create New</a>
</p>
<form asp-action="Index" asp-controller="Track" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
        <input type="submit" value="search" />
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                    <th>
                            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TrackTitleSortParm })
                    </th>
                    </th>
                    <th>
                        Artist
                    </th>
                    <th>
                        Year
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tracks)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Album.Artist)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Album.PublicationYear)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditTrack", new { id= item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNumber" id="pageNumber" />
        <input type="hidden" name="pageSize" id="pageSize" value="2" />
    </div>
</form>

@section Scripts
    {
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNumber").value = index;
            document.forms[1].submit();
        }
    </script>
}

@section Styles
    {
    <style type="text/css">
    </style>
}
